/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Style your header */
header {
    background-color: #e7f706;
    color: #0ae627;
    text-align: center;
    padding: 20px;
}

/* Style your navigation menu */
nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Style the main content area */
main {
    padding: 20px;
}

/* Style the footer */
footer {
    background-color: #4408e9;
    color: #cc1111;
    text-align: center;
    padding: 10px;
}
